<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>メモ一覧</title>
</head>
<body>

    <h1>メモ一覧</h1>
        <div>
            <a href="{% url 'search_by_tag' %}">タグで検索</a>
        </div>
    {% if notes %}
        {% for note in notes %}
            <div>
                <h2>{{ note.title }}</h2>
                <p>{{ note.content }}</p>
                <p>タグ:
                    {% for tag in note.tags.all %}
                            <a href="search/?search_tag={{ tag.name }}">{{ tag.name }}</a>
                        {% endfor %}
                </p>
            </div>
        {% endfor %}
    {% else %}
        <p>メモはまだありません。</p>
    {% endif %}

    <a href="{% url 'note_form' %}">新しいメモを作成</a>
</body>
</html>