<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>メモ一覧</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>メモ一覧</h1>
    
    <div class="search-area">
        <a href="{% url 'search_by_tag' %}" class="button">タグで検索</a>
    </div>

    {% if notes %}
        {% for note in notes %}
            <div class="memo-card">
                <h2>{{ note.title }}</h2>
                <p>{{ note.content }}</p>
                <div class="tag-container">
                    タグ:
                    {% for tag in note.tags.all %}
                        <a href="search/?search_tag={{ tag.name }}" class="tag">{{ tag.name }}</a>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p class="no-memos">メモはまだありません。</p>
    {% endif %}

    <div style="text-align: center;">
        <a href="{% url 'note_form' %}" class="button">新しいメモを作成</a>
    </div>
</body>
</html>